#speedtestLayoutBlock{
    border:none; padding:0; margin:0;
    background:#FFFFFF;
    color:#202020;
    font-family:"Roboto",sans-serif;
}

#test{
    text-align:center;
    width: 8em;
    margin-top:2em;
    margin-bottom:2em;
}
div.testArea{
    display:inline-block;
    width:16em;
    height:12.5em;
    margin-top: 2em;
    padding-top:2em;
    position:relative;
    box-sizing:border-box;
}
div.testName{
    position:absolute;
    top:0.1em; left:0;
    padding-bottom:2em;
    width:100%;
    font-size:1.4em;
    z-index:9;
}
div.meterText{
    position:absolute;
    bottom:1.55em; left:0;
    width:100%;
    font-size:2.5em;
    z-index:9;
}
div.meterText:empty:before{
    content:"0.00";
}
div.unit{
    position:absolute;
    bottom:2em; left:0;
    width:100%;
    z-index:9;
}
div.testArea canvas{
    position:absolute;
    top:0; left:0; width:100%; height:100%;
    z-index:1;
}
div.testGroup{
    display:inline-block;
}
@media all and (max-width:65em){
    body{
        font-size:1.5vw;
    }
}
@media all and (max-width:40em){
    body{
        font-size:0.8em;
    }
    div.testGroup{
        display:block;
        margin: 0 auto;
    }
}